.botao{
    border: none;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
}

.botao-padrao{
    background-color: #eeaf88;
    color: black;
}
.botao-outline{
    background-color: transparent;
    border: 2px solid #eeaf88;
    color: black;
}
.botao-escuro{
    background-color: black;
    color: #eeaf88;
}