.botao{
    border: none;
    width: 300px;
    height: 75px;
    font-size: 32px;
    border-radius: 15px;
}

.botao-padrao{
    background-color: #eeaf88;
    color: black;
}
.botao-outline{
    background-color: transparent;
    border: 2px solid #eeaf88;
    color: black;
}
.botao-escuro{
    background-color: black;
    color: #eeaf88;
}