footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 15px 0 15px 0;
}

footer > div{
    margin-bottom: 15px;
}

footer > .logo{
    color: #eeaf88;
}

footer > .logo > img{
    width: 400px;
    height: 100px;
}

footer > .copyright{
    color: #eeaf88;
}

footer > .social{
    display: flex;
    justify-content: space-evenly;
    color: #eeaf88;
}

.social > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social > div:not(:last-child){
    margin-right: 15px;
}

.social > div > img{
    width: 28px;
    height: 28px;
}

.social > div > p{
    font-size: 15px;
    cursor: pointer;
}

.social > div > p:hover{
    font-weight: 500;
    font-style: normal;
}