.model{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.model > .title{
    width: 100%;
    text-align: center;
    background-color: black;
    color: #eeaf88;
    border-radius: 5px;
    font-size: 24px;
}

.model > .image{
    width: 100vw;
    height: 450px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.model > .text{
    width: calc(100% - 4px);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding-block: 25px;
    font-size: 18px;
}

