section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    width: 95%;
    background-color: #eeaf88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.card{
    width: 100%;
    background: black;
    color: #eeaf88;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
}

.card > .left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left > .photo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #eeaf88;
    overflow: hidden;
}

.left > .zodiac{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zodiac > .sign-icon{
    width: 55px;
    height: 55px;
    border: 2px solid #eeaf88;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-icon > img{
    width: 45px;
    aspect-ratio: 1;
}

.card > .right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    border-spacing: 25px;
}

table th{
    font-weight: 500;
    text-align: start;
    display: inline;
}

