section{
    width: 100vw;
    background-color: black;
}

.container{
    width: 90%;
    background-color: #eeaf88;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.check > img{
    width: 140px;
    aspect-ratio: 1;
}